<!DOCTYPE html>
<html ng-app="pjv">
    <head>
    <title>Package.json validator</title>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .container { width: 600px; }
        textarea { width: 590px; height: 200px; }
    </style>
    <meta name="keywords" content="package.json,package.json valid,package.json validator,package.json lint, package.json linter">
    <meta name="author" content="Nick Sullivan">
</head>
<body>
    <a rel="nofollow" href="https://github.com/gorillamania/package.json-validator"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

    <div class="container" ng-controller="PackageCtrl">
    <form>
        <div>
            <h2>Package.json validator</h2>
            <small>
            This tool verifies the contents of <a href="http://docs.nodejitsu.com/articles/getting-started/npm/what-is-the-file-package-json">package.json</a> files against the specifications, letting you know about required fields that you MUST have, warnings for fields that you SHOULD have, and recommendations for optional fields that you COULD have.
            </small>
            <br />
            <br />
            <b>Enter a github repo</b><br />
            <div class="input-append">
                <input class="input-xlarge" ng-model="data.github" type="text" id="githubrepo" placeholder="https://github.com/$owner/$repo"/>
                <button id="fetch" class="btn" type="button" ng-click="githubFetch()">Fetch</button>
            </div>
            <br />
            <b>OR, enter the contents of a package.json file</b>
            <div style="float:right">
                <small>
                Samples: 
                <a href="" ng-click='data.github = "https://github.com/gorillamania/package.json-validator";githubFetch()'>This package</a> /
                <a href="" ng-click='data.github = "https://github.com/pilotfish/pilotfish";githubFetch()'>Pilotfish</a>
                </small>
            </div>
            <br />
            <textarea name="results" ng-model="data.results" id="incoming" placeholder='{ "name": "package-name" ...  }'></textarea>

            <button id="options-button" type="button" class="pull-right btn btn-link" ng-click="advanced=!advanced">Toggle Options</button>

            <div id="options" ng-show="advanced">
                Validate against:<br />
                <label class="radio inline">
                <input type="radio" ng-model="data.spec" name="spec" value="npm"><a href="https://npmjs.org/doc/json.html">NPM</a> (recommended)
                </label>
                <label class="radio inline">
                <input type="radio" ng-model="data.spec" name="spec" value="commonjs_1.0"><a href="http://wiki.commonjs.org/wiki/Packages/1.0">Packages 1.0</a>
                </label>
                <label class="radio inline">
                <input type="radio" ng-model="data.spec" name="spec" value="commonjs_1.1"><a href="http://wiki.commonjs.org/wiki/Packages/1.1">Packages 1.1</a>
                </label>

                <br />
                <br />

                Verbosity:<br />
                <label class="checkbox inline">
                    <input checked="true" type="checkbox" disabled="true">Errors
                </label>
                <label class="checkbox inline">
                    <input ng-model="data.warnings" type="checkbox" id="warnings">Warnings
                </label>
                <label class="checkbox inline">
                    <input ng-model="data.recommendations" type="checkbox" id="recommendations">Recommendations
                </label>
            <br />
            <br />
            </div>
        </div>

        <div id="results" ng-show='data.results'>
            <br />
            <b>Results</b>:
            <pre id="outgoing">{{data.results | validateJson | json}}</pre>
        </div>
        <br />
        <br />
        <br />
        <br />

        <footer>
        <small>This tool created to make your life easier by <a href="http://creationeer.me/">Nick Sullivan, Creationeer</a></small>
        <br />
        <a target="_blank" href="http://gorillamania.tip.me">
  <img
    alt="Tip Me With ChangeTip"
    src="https://cdn.changetip.com/img/logos/tipme_round.png"/>
</a>
        </footer>

        </form>
    </div><!--.container -->

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="PJV.js"></script>
    <script src="base64.js"></script>
    <script src="app.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37232148-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</body>
</html>
